{% extends "lib_app/base.html" %}

{% block content %}
    <h2>{{ title }}</h2>

    <form method="get">
        <input type="text" name="q" value="{{ query }}" placeholder="Поиск по названию, автору или ISBN">
        <button>Найти</button>
    </form>

    {% for book in books %}
        <div class="book">
            <strong><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a></strong>
            <p>{{ book.author.name }}
            <p>{% if book.isbn %}
                ISBN: {{ book.isbn }}
            {% else %}
                ISBN не присвоен
            {% endif %}</p>
            {% if book.available %}
                <span class="available">[Доступна]</span>
                path('books/', book_list), # <a href="{% url 'add_to_cart' book.id %}">→ В корзину</a>
            {% else %}
                <span class="unavailable">[Недоступна]</span>
            {% endif %}</p>
        </div>
    {% empty %}
        <p>Книги не найдены.</p>
    {% endfor %}
{% endblock %}
