{% extends "base.html" %}

{% block content %}
    <h2>{{ page_title }}</h2>

    <form method="get">
        <label for="site-search">Поиск книги по названию, автору или ISBN:</label>
        <input type="search" name="q" value="{{ query }}">
        <button>Найти</button>
    </form>

    <ul class="list-group">
        {% for book in book_list %}
        <li class="list-group-item">
            <strong><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a></strong>
            <p>{{ book.author.name }}
            <p>{% if book.isbn %}
                ISBN: {{ book.isbn }}
            {% else %}
                ISBN не присвоен
            {% endif %}</p>
            {% if book.available %}
                <span class="available">[Доступна]</span>
                path('books/', book_list), # <a href="{% url 'add_to_cart' book.id %}">В корзину</a>
            {% else %}
                <span class="unavailable">[Недоступна]</span>
            {% endif %}</p>
            <a href="{% url 'book_edit' book.id %}" class="btn btn-sm btn-warning">Редактировать описание</a>
            <a href="{% url 'book_delete' book.id %}" class="btn btn-sm btn-danger">Удалить книгу</a>
        </li>
        {% empty %}
            <p>Книги не найдены.</p>
        {% endfor %}
    </ul>
{% endblock %}
